*.egg-info
.env
**/__pycache__/*
wandb/*
*.log
venv/*
.venv/*
keyfile
**/.ipynb_checkpoints/
**/.DS_Store/*
.idea/*
.vscode/*
latentanalysis_data/*
latentanalysis_scripts/*
test-images/*
weights/*
latentmask/latentanalysis/*
cache/*
docs/automated-documentation/*
checkpoints/*
reports/*
