git+https://github.com/huggingface/diffusers.git

huggingface-hub
spaces
transformers
accelerate
safetensors
sentencepiece
dashscope
kernels
torchvision
peft
torchao==0.11.0
pydantic
pandas
modal

para-attn
lpips