torch
torchvision
torchaudio
accelerate>=1.0
django>=4.2
einops>=0.6.1
ftfy>=6.1.1
google-api-python-client>=2.86.0
google-cloud-storage>=2.10.0
google-cloud-pubsub>=2.16.0
invisible-watermark
modal-client
modal>=0.73
onnxruntime
opencv-python>=4.1.0.25
pillow
PyWavelets>=1.1.1
safetensors>=0.4.1
scipy>=1.15
sentry-sdk>=1.21.0
lion_pytorch
transformers>=4.43.2
diffusers>=0.35.0
ddtrace
fastapi>=0.111.0
msgpack
numpy>=1.24.3,<2
peft>=0.17.0
pydantic>=2.7.4
uvicorn>=0.25.0
websockets
timm
wandb>=0.17.1
sentencepiece
Jinja2
python-dotenv
prodigyopt
bitsandbytes
datasets
optimum-quanto
# triton
torchao
python-multipart
fal>=1.30.0
openai>=1.76.0
ruamel.yaml
PyYAML
scikit-image
lpips
pandas
matplotlib
clearml